{% extends 'todoapp/main.html' %}

{% block content %}
{% if request.user.is_authenticated %}
    <a href="{% url 'todoapp:logout' %}">Logout</a> 
{% else %}
    <a href="{% url 'todoapp:login' %}">Login</a> 
{% endif %}
<h1>Tasks List : </h1>

    <a href={% url 'todoapp:create_task' %}>ADD</a>
    <ul>
      {% for task in tasks %}

        <li>
          <a href="{% url 'todoapp:detail_task' task.id %}">{{task.title}}</a>
          <a href={% url 'todoapp:update_task' task.id %}>Update</a>
          <a href={% url 'todoapp:delete_task' task.id %}>Delete</a>
        </li>
      
      {% endfor %}
    </ul>

{% endblock content %}



